<!-- Search -->

<div class="container mt-5">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search City" aria-label="search city" aria-describedby="basic-addon2"  [(ngModel)]="busqueda">
    <div class="input-group-append">
      <button class="input-group-text" (click)="searchCity()">Search</button>
    </div>
  </div>
</div>
  


<div class="container mt-5">
  <h2>Some important Cities</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-5 col-md-6 col-sm-8 col-xs-6 " *ngFor="let item of dataTotal">
        <div class="card">
          <div class="card-title">
            <h3>{{item.name}}</h3>
          </div>
          <div class="card-body">

            <img src="https://openweathermap.org/img/wn/{{item.weather.icon}}@2x.png" class="img-fluid rounded mx-auto d-block">
            <br>

         
            <br>

            <div class="info-temps d-flex justify-content-center">
              <span class="grados">
                {{item.main.temp | conversorGrados}}</span>
           
            <div class="rango-temps">
              <span> Max  </span>
              <p>{{item.main.temp_max | conversorGrados }}</p>
              
              <span> Min  </span>
              <p>{{item.main.temp_min | conversorGrados}}</p>
            </div>
            
          </div>

          <div class="info-weather d-flex justify-content-center">
            <span>{{item.weather.main}}</span>
       
          </div>

          
          
            


            
            
          </div>
          <div class="card-footer">
            <button class="button-19">Show More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
