<!-- Search -->

<div class="container mt-5">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search City" aria-label="search city" aria-describedby="basic-addon2"  [(ngModel)]="busqueda" (keydown)="search($event)">
    <div class="input-group-append" >
      <button class="input-group-text"  (click)="searchCity()">Search</button>
    </div>
  </div>
</div>

<!-- Information Cards -->

<div class="container mt-5">
  <div class="row d-flex flex-wrap justify-content-center cards-info">
    <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/temperature-icon.png" alt="Temperature">
        <div class="card-title">
          <h3>Temperature</h3>
      </div>
      <div class="card-body-info">
        {{dataWeather?.main?.temp | conversorGrados}}
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">
    <div class="card">
      <img class="card-img-top" [src]="weatherCard" alt="Weather image">
      <div class="card-title">
        <h3>Weather</h3>
    </div>
    <div class="card-body-info">
      {{dataWeather?.weather[0]?.description}}
    </div>
  </div>
</div>

    <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/sunrise-icon.png" alt="Sunsrise image">
        <div class="card-title">
          <h3>Sunrise</h3>
      </div>
      <div class="card-body-info">
        {{dataWeather?.sys?.sunrise | dateTime}}
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/sunset-icon.png" alt="Sunset image">
      <div class="card-title">
        <h3>Sunset</h3>
    </div>
    <div class="card-body-info">
      {{dataWeather?.sys?.sunset  | dateTime  }}
    </div>
  </div>
</div>

    <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/pressure-icon.png" alt="Pressure image">
        <div class="card-title">
          <h3>Pressure</h3>
      </div>
      <div class="card-body-info" *ngIf="dataWeather; else noInfo">
        {{dataWeather?.main?.pressure + ' hPa'}}
      </div>

      <ng-template #noInfo >
        <div class="card-body-info">
          {{dataWeather?.main?.pressure}}
        </div>
      </ng-template>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-4 col-xs-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/img/wind-icon.png" alt="Wind image">
      <div class="card-title">
        <h3>Wind</h3>
    </div>
    <div class="card-body-info">
      {{dataWeather?.wind?.speed}}
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-4">
  <div class="card">
    <img class="card-img-top" src="../../assets/img/humidity-icon.png" alt="Humidity image">
    <div class="card-title">
      <h3>Humidity</h3>
  </div>
  <div class="card-body-info">
    {{dataWeather?.main?.humidity + '%'}}
  </div>
</div>
</div>

<div class="col-lg-4 col-md-6 col-sm-4">
  <div class="card">
    <img class="card-img-top" src="../../assets/img/visibility-icon.png" alt="Visibility image">
    <div class="card-title">
      <h3>Visibility</h3>
  </div>
  <div class="card-body-info">
    {{dataWeather?.visibility}}
  </div>
</div>
</div>

</div>
  


<!-- Another cities info -->

<div class="container mt-5">
  <h2>Some important Cities</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-5 col-md-6 col-sm-8 col-xs-6 " *ngFor="let item of dataTotal">
        <div class="card">
          <div class="card-title">
            <h3>{{item.name}}</h3>
          </div>
          <div class="card-body">

            <img src="https://openweathermap.org/img/wn/{{item.weather.icon}}@2x.png" class="img-fluid rounded mx-auto d-block">
            <br>

         
            <br>

            <div class="info-temps d-flex justify-content-center">
              <span class="grados">
                {{item.main.temp | conversorGrados}}</span>
           
            <div class="rango-temps">
              <span> Max  </span>
              <p>{{item.main.temp_max | conversorGrados }}</p>
              
              <span> Min  </span>
              <p>{{item.main.temp_min | conversorGrados}}</p>
            </div>
            
          </div>

          <div class="info-weather d-flex justify-content-center">
            <span>{{item.weather.main}}</span>
       
          </div>

          
          
            


            
            
          </div>
          <div class="card-footer">
            <button class="button-19">Show More</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
