<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-5 col-md-4 col-sm-8 " *ngFor="let item of dataTotal">
        <div class="card">
          <div class="card-title">
            <h2>{{item.name}}</h2>
          </div>
          <div class="card-body">

            <img [src]="imagesWeather[0]">

            <span>{{item.main.temp}}</span>
            <br>
            <span>{{item.main.feels_like}}</span>

            <br>

          
            <br>
            <span>{{item.weather.description}}</span>


            <!-- <span>Wind speed: {{dataW?.wind?.speed}}</span>
            <span>Humidity: {{dataW?.main?.humidity}}</span> -->
            
          </div>
          <div class="card-footer">
            
          </div>
        </div>
      </div>
    </div>
  </div>
