<div class="contenedor">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex justify-content-center mt-4 mb-4 header">
        <h2>Weather <span>by Jacs</span></h2>
      </div>
    </div>
  </div>
  
  <div class="container mt-5">
    <div class="row d-flex justify-content-center d-flex-wrap">
      <div class="col-4">
        <div class="card">
          <div class="card-title">
            <h2>Mexico</h2>
          </div>
          <div class="card-body">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, qui ad esse odit mollitia aliquam odio, non at nihil impedit consequatur doloremque doloribus consequuntur hic, provident corporis repellendus? Natus, deserunt?</p>
          </div>
          <div class="card-footer">
            <p>Hola q tal</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-title">
            <h2>Usa</h2>
          </div>
          <div class="card-body">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, qui ad esse odit mollitia aliquam odio, non at nihil impedit consequatur doloremque doloribus consequuntur hic, provident corporis repellendus? Natus, deserunt?</p>
          </div>
          <div class="card-footer">
            <p>Hola q tal</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
